<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smarttoy.bluetoothspeaker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <!-- FILES PERMISSION -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- BLUETOOTH PERMISSION -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/bs_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.smarttoy.bluetoothspeaker.ui.BSStartUpActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.BSActionBarActivity" />
        <activity android:name=".ui.BSPushActivity" />
        <!-- Panel Activity -->
        <activity
            android:name=".ui.BSMainPanelActivity" />
        <activity android:name=".ui.music.BSMusicPanelActivity" />
        <activity android:name=".ui.radio.BSRadioPanelActivity" />

        <!-- Music Activity -->
        <activity android:name=".ui.music.BSAddLocalMusicActivity" />
        <activity android:name=".ui.music.BSAddOnlineMusicActivity" />

        <!-- Radio Activity -->
        <activity android:name=".ui.radio.BSRadioAddOnlineMusicActivity" />
        <activity android:name=".ui.radio.BSRadioGetChannelTestActivity" />
    </application>

</manifest>